aap1-observe-remote-file-changes/aap1-observe-remote-file-changes.json
{
  "nodes": [
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/data/remote",
        "events": [
          "addDir"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -80
      ],
      "id": "d8c69602-0b5a-47d5-a9d3-45ead71ccc36",
      "name": "Local File Trigger"
    },
    {
      "parameters": {
        "jsCode": "const path = $('Local File Trigger').last().json.path.replaceAll('/folder bez nazwy', '')\n\nconst regex = /Ub[\\w\\s]+/\nconst caseNumber = path.match(regex)[0]\n\nconst warsawTimeString = new Date().toLocaleString('en-US', { timeZone: 'Europe/Warsaw' });\n\n// Create a Date object using Warsaw time\nconst timeOfEdit = new Date(warsawTimeString);\n\n// Format the date to Warsaw time\nconst options = {\n  timeZone: 'Europe/Warsaw',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n}\nconst formatter = new Intl.DateTimeFormat('en-GB', options)\nconst parts = formatter.formatToParts(timeOfEdit)\n\n// Extract day, month, and year\nconst dd = parts.find((part) => part.type === 'day').value\nconst mm = parts.find((part) => part.type === 'month').value\nconst yyyy = parts.find((part) => part.type === 'year').value\n\n// Format the date as dd-mm-yyyy\nconst formattedDate = `${dd}-${mm}-${yyyy}`\n\nreturn { caseNumber, timeOfEdit, formattedDate }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        -80
      ],
      "id": "a29fb9fb-9446-4ebf-8ba7-545263de76cc",
      "name": "Set variables"
    },
    {
      "parameters": {
        "command": "=file_name=\"{{ $('set_constants').item.json.config }}/updated_cases/{{ $json.formattedDate }}_updated_cases.csv\"\n\n# Check if the file exists\nif [ ! -f \"$file_name\" ]; then\n  # Create the file and write column names if it doesn't exist\n  echo \"caseNumber,timeOfEdit\" > \"$file_name\"\nfi\n\n# Append the content to the file\necho \"{{ $json.caseNumber }},{{ $json.timeOfEdit }}\" >> \"$file_name\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        620,
        -80
      ],
      "id": "98c2f109-bde7-4baf-b50b-797c0c8360da",
      "name": "Log updated case directories"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45ae8d98-2b75-4d2f-aa55-7cc85fdaed85",
              "name": "imagenes",
              "value": "/data/local/Imagenes",
              "type": "string"
            },
            {
              "id": "78c53d9e-9f91-4eb8-b76d-85e1ab403d26",
              "name": "remote",
              "value": "/data/remote",
              "type": "string"
            },
            {
              "id": "425c71cd-4ac4-4eda-8c55-bb13f65cbaee",
              "name": "config",
              "value": "/data/local/_n8n_db",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        -80
      ],
      "id": "a4599a06-3d4d-4b03-b929-eb244ed3f5c5",
      "name": "set_constants"
    }
  ],
  "connections": {
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "set_constants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set variables": {
      "main": [
        [
          {
            "node": "Log updated case directories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log updated case directories": {
      "main": [
        []
      ]
    },
    "set_constants": {
      "main": [
        [
          {
            "node": "Set variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Warsaw",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "additional_kwargs": {},
  "response_metadata": {}
}