Save Workflow To GitHub/save-workflow-to-github.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -120,
        100
      ],
      "id": "1d50d991-5375-4e42-b011-d2935acc7caf",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "jsCode": "const nodes = $input.all()[0].json.nodes\nconst connections = $input.all()[0].json.connections\nconst settings = $input.all()[0].json.settings\nconst staticData = $input.all()[0].json.staticData\nconst meta = $input.all()[0].json.meta\nconst pinData = $input.all()[0].json.pinData\nconst name = $input.all()[0].json.name\n\nconst jsonOutput = {\n  \"workflowName\": name,\n  \"content\": {\n    \"nodes\": nodes,\n    \"connections\": connections,\n    \"settings\": settings,\n    \"staticData\": staticData,\n    \"meta\": meta,\n    \"pinData\": pinData\n  }\n}\n\nreturn jsonOutput\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -20
      ],
      "id": "35dc20d3-d077-434a-9206-1a12b9187fba",
      "name": "Format Workflow Data"
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ JSON.stringify($json.content) }}",
        "options": {
          "systemMessage": "Analyze the provided JSON file representing an n8n workflow. Based on the content, generate a clear and concise GitHub README file in Markdown format. The README should include the following sections:\n\t1.\tTitle: Extract the title of the workflow.\n\t2.\tDescription: Provide a brief explanation of what the workflow does and the goal it achieves.\n\t3.\tUsed Nodes and Integrations: List all the nodes and external services/integrations used in the workflow.\n\t4.\tSetup Instructions: Explain any necessary steps to set up the workflow when copying it, such as setting environment variables, configuring credentials, or adding required inputs.\n\nUse a professional but chilled-out tone throughout the README. Add a friendly and approachable vibe by including relevant emojis (e.g., ✅ for completed setups, 🚀 for goals, 🔧 for setup steps) where appropriate. The output must strictly adhere to Markdown formatting, starting with a # header for the title. Do not include any content or comments outside the scope of the README file.\n\nExample output:\n```markdown#Workflow Title\\n##Workflow Details```\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        620,
        -20
      ],
      "id": "033933a0-7a06-4519-be3a-a7c6740c2028",
      "name": "AI Agent",
      "retryOnFail": true,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "model": "google/gemini-pro-1.5",
        "options": {
          "baseURL": "https://openrouter.ai/api/v1"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        640,
        180
      ],
      "id": "ab994d1a-85ec-4b98-ae17-6f02b44e1553",
      "name": "Openrouter",
      "credentials": {
        "openAiApi": {
          "id": "oRcP3VX9DoM8EVI5",
          "name": "OpenRouter Credential"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "durbaezgomez",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Check if workflow is on GitHub').params.repository.value }}",
          "mode": "name"
        },
        "filePath": "={{ $('Format Workflow Data').item.json.workflowName }}/README.md",
        "fileContent": "={{ $('Remove markdown signs').item.json.output }}",
        "commitMessage": "=Update readme for {{ $('Format Workflow Data').item.json.workflowName }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1840,
        -160
      ],
      "id": "c8b6ce5b-ada0-45f6-ae92-69826534979a",
      "name": "Update readme",
      "credentials": {
        "githubOAuth2Api": {
          "id": "DJibNgyy2M4es8cd",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "durbaezgomez",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Check if workflow is on GitHub').params.repository.value }}",
          "mode": "name"
        },
        "filePath": "={{ $('Format Workflow Data').item.json.workflowName }}/{{ $json.jsonFileName }}",
        "fileContent": "={{ JSON.stringify($('Format Workflow Data').item.json.content, null,2) }}",
        "commitMessage": "=Add {{ $('Set JSON filename').item.json.jsonFileName }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1680,
        80
      ],
      "id": "75551d04-1394-49d1-b5f5-f31afad17514",
      "name": "Create JSON file",
      "credentials": {
        "githubOAuth2Api": {
          "id": "DJibNgyy2M4es8cd",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "durbaezgomez",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Check if workflow is on GitHub').params.repository.value }}",
          "mode": "name"
        },
        "filePath": "={{ $('Format Workflow Data').item.json.workflowName }}/README.md",
        "fileContent": "={{ $('Remove markdown signs').item.json.output }}",
        "commitMessage": "=Add readme for {{ $('Format Workflow Data').item.json.workflowName }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1840,
        80
      ],
      "id": "0f875768-19f3-4685-9bc9-c34a35c81f50",
      "name": "Create README",
      "credentials": {
        "githubOAuth2Api": {
          "id": "DJibNgyy2M4es8cd",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "durbaezgomez",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Check if workflow is on GitHub').params.repository.value }}",
          "mode": "name"
        },
        "filePath": "={{ $('Format Workflow Data').item.json.workflowName }}/{{ $('Set JSON filename').item.json.jsonFileName }}",
        "fileContent": "={{ JSON.stringify($('Format Workflow Data').item.json.content, null,2) }}",
        "commitMessage": "=Edit {{ $('Set JSON filename').item.json.jsonFileName }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1680,
        -160
      ],
      "id": "a23f8d28-e202-481f-8a88-670d45666135",
      "name": "Edit JSON file",
      "credentials": {
        "githubOAuth2Api": {
          "id": "DJibNgyy2M4es8cd",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "durbaezgomez",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "AAP_1-12-24_automations",
          "mode": "list",
          "cachedResultName": "AAP_1-12-24_automations",
          "cachedResultUrl": "https://github.com/durbaezgomez/AAP_1-12-24_automations"
        },
        "filePath": "={{ $('Format Workflow Data').item.json.workflowName }}/{{ $json.jsonFileName }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1460,
        -20
      ],
      "id": "50a8de96-1984-4d02-b011-779062aecce9",
      "name": "Check if workflow is on GitHub",
      "alwaysOutputData": false,
      "credentials": {
        "githubOAuth2Api": {
          "id": "DJibNgyy2M4es8cd",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.all()[0].json.output\n  .replace(/```markdown/g, '').replace(/```/g, '')\n\nreturn {output}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        -20
      ],
      "id": "d82e0de2-55ed-4ded-a848-84823603cab4",
      "name": "Remove markdown signs"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b99db5ae-ced7-486d-b744-29109453eace",
              "name": "jsonFileName",
              "value": "={{ $('Format Workflow Data').item.json.workflowName.toLowerCase().replaceAll(' ','-')+'.json' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        -20
      ],
      "id": "731541b9-eb8f-45d0-a337-be192ace5095",
      "name": "Set JSON filename"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -120,
        -140
      ],
      "id": "9e88cfdb-387d-465f-a715-980761aa6cbc",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        120,
        100
      ],
      "id": "7da034c8-e165-4ff9-838b-e67908582a86",
      "name": "Get Workflow by ID",
      "credentials": {
        "n8nApi": {
          "id": "DlaUCwiyG5nvxjps",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "workflowId": {
          "__rl": true,
          "value": "RPs0P0Ka0qvqY8xp",
          "mode": "list",
          "cachedResultName": "aap2-remote-to-local-files-sync (#RPs0P0Ka0qvqY8xp)"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        120,
        -140
      ],
      "id": "253f6834-3a58-48a9-a516-1381b20053c2",
      "name": "Get Workflow From List",
      "credentials": {
        "n8nApi": {
          "id": "DlaUCwiyG5nvxjps",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Triggers\n**Manual or from another workflow that passed its ID**",
        "height": 640,
        "width": 260,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        -300
      ],
      "id": "77494799-1081-4e8b-8a62-f3468f6a58f6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Workflow data\n**Fetches n8n workflow data**",
        "height": 640,
        "width": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        -300
      ],
      "id": "335e315a-9b9f-40a3-ad61-bc1c645cce69",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Format workflow data\n**Selects proper json properties of workflow content**",
        "height": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        -300
      ],
      "id": "e42c50c5-5e7d-46ed-a202-16890c3e64b7",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Format workflow data\n**Removes markdown start/end signs and sets proper json fileName**",
        "height": 640,
        "width": 440
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        920,
        -300
      ],
      "id": "86b01c26-15a0-45ad-80a4-74447ef0948b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## AI Agent\n**Analyzes workflow json content and creates a README content with markdown formatting**",
        "height": 640,
        "width": 360,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        -300
      ],
      "id": "240b2bad-daa3-4548-be8d-be0e27bf8375",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## GitHub Communication\n**Checks if workflow already has a directory and creates or updates files if they exist**",
        "height": 640,
        "width": 680,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        -300
      ],
      "id": "4f8cec8e-cabe-4574-8b86-55e0960418ad",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# REMEMBER TO SET WORKFLOW AND DESTINATION REPO",
        "height": 100,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        -440
      ],
      "id": "b484eb96-4ee2-4a33-b3e0-1c276c7586da",
      "name": "Sticky Note6"
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Workflow by ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Workflow Data": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Openrouter": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Remove markdown signs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create JSON file": {
      "main": [
        [
          {
            "node": "Create README",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit JSON file": {
      "main": [
        [
          {
            "node": "Update readme",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if workflow is on GitHub": {
      "main": [
        [
          {
            "node": "Edit JSON file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create JSON file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove markdown signs": {
      "main": [
        [
          {
            "node": "Set JSON filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set JSON filename": {
      "main": [
        [
          {
            "node": "Check if workflow is on GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get Workflow From List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow by ID": {
      "main": [
        [
          {
            "node": "Format Workflow Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow From List": {
      "main": [
        [
          {
            "node": "Format Workflow Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {}
}